<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-button expand="full" (click)="onPickImage()">Add image</ion-button>
    <ion-card *ngFor="let img of images; index as i">
      <ion-img [src]="img" (click)="onUploadImage(i)"></ion-img>
    </ion-card>
  </ion-content>
</ion-content>
